<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <h3>Random Passcode Generator</h3>
        <p>( attempt number: @ViewBag.Counter )</p>
        <form action="process" method="POST">
            <input type="text" value="@ViewBag.randPasscode">
            <input type="submit" value="submit">    
        </form>
    </div>
</body>
</html>